// Navigation Styles here

nav {
    border-bottom:@navigation-border;
    // height:65px;
    margin-top:20px;
    .centerContent();
    @media @iPhone {
        padding-bottom:7px;
    }
    div {
        display:flex;
        justify-content:space-between;
        .contentWidth();
        @media @iPhone {
            flex-direction:column;
        }
        .website-heading {
            @media @iPhone {
                width:100%;
                text-align:center;
            }
        }
        .links {
            display:flex;
            justify-content:space-around;
            flex-direction:row;
            align-items:center;
            width:100%;
            div {
                width:25%; 
                font-size:150%;
                text-align:center;
                .centerContent();
            }
            @media @iPhone {
                margin-top:10px;
            }
        }
    }
}